
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body{
    background-color: lightgray;
    line-height: 1.5;
    font-family: 'Merriweather', serif;
}

.container{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    min-height: 100vh;
    border-top: 5px double black;
}


.put,
 .select{
    background-color: lightskyblue;
    border-radius: 5px;
    width: 100%;
    display: block;

}


li{
    list-style: none;
    margin-top: 10px;
}


h1{
    background-color: black;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;


}

header h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;

}



 header p {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

legend{
    font-size: 30px;
    font-weight: bold;
}

#topics{
    border-radius: 5px;
    width: 100%;
    padding: 20px;

}


#zipcode{
    width: 50%;

}

button{
    background-color: blue;
    color: cornsilk;
    border-radius: 5px;
    width: 100%;
    align-self: center;
}


footer{
    text-align: center;
}


::placeholder{
    text-align: end;
    padding-right: 20px;
    font-weight: bolder;
    font-style: italic;
    color: black;
}

:focus {
    background-color: hotpink;

}



@media(min-width:768px) {


    .main{
        display: flex;
        flex-direction: row;
        

    }


    header p {
        margin: 10px;
        padding: 10px;
        text-align: center;
    }

    .bel{
        flex-basis: 25%;
        height:50px;
        margin: auto 0;

    }

    .put,
    .select{
        flex-grow: 1;
        flex-basis: 75%;
    }

    form{
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }


    #zipcode{
        max-width: 25%;
    

}

#topics{
    width: 100%;
    padding: 20px;
        
}

button{
    width: 100%;
    padding: 10px;
}

}